NOME_APLICACAO=Serviço de Ingestão - Catálogo Multi-ERP
AMBIENTE=desenvolvimento

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORTA=5672
RABBITMQ_USUARIO=catalogo
RABBITMQ_SENHA=catalogo
RABBITMQ_FILA_PRODUTOS=catalogo.produtos.normalizados

DATABASE_URL=postgresql+psycopg://catalogo:catalogo@postgres:5432/catalogo_db