PORTA=
NOME_SERVICO=Serviço de Catálogo - Multi-ERP
AMBIENTE=desenvolvimento

DATABASE_URL=postgresql://catalogo:catalogo@localhost:5432/catalogo_db
RABBITMQ_URL=amqp://catalogo:catalogo@localhost:5672
RABBITMQ_FILA_PRODUTOS=catalogo.produtos.normalizados